.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-dropdown {
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 4pxx 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: all 0.3s ease;
  outline: none;
}

.filter-dropdown:hover {
  border-color: #bbb;
}

.filter-dropdown:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border-color: rgba(81, 203, 238, 1);
}

.filter-dropdown option {
  padding: 10px;
}
