.pagination-nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination,
.pagination ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.page-item,
.pagination li {
  margin: 0 5px;
}

.page-link {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 50%;
  background-color: #fff;
  color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
  background-color: #007bff;
  color: #fff;
}

.page-item.active .page-link,
.page-item.active .page-link:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 450px;
}

.records-per-page select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px; /* Make it circular */
  background-color: #fff;
  appearance: none; /* Remove default arrow */
  outline: none; /* Remove default outline */
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.records-per-page select:hover,
.records-per-page select:focus {
  border-color: #007bff; /* Change border color on hover and focus */
}
